.nav-nodropdown{
    background: white;
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 4;
    @media (min-width:900px) {
        display: flex;
        justify-content: space-between;
    }
    transition: all 1s ease-in;
    
}

.nav-dropdown{
    z-index: 4;
    background: white;
    text-align: center;
    height: 410px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: all 1s ease-in;
    /* @media (min-width:900px){
        display: none;
    } */
}

.navbar-top{
    display: flex;
    justify-content: space-between;
    padding: 20px 11vw;
    
}

.navbar-top img{
    width: 75px;
    height: 49px;
}

.nav-items{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 90px;
    @media(max-width:900px) {
        display: block;
    }
}

.h-icon{
    display: none;
    @media(max-width:900px) {
        display: block;
    }
}

.nav-items li{
    padding: 10px;
}

.clr-orange{
    color: #ff7a57;
}
